<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-3 page-header">
            <h3>Create Event</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">Event Name: </label>
                <div class="col-md-4">
                    <input type="text" placeholder="Please give this event a name." class="form-control" data-bind="value: NewEventName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Event Date: </label>
                <div class="col-md-2">
                    <input type="date" class="form-control" data-bind="value: NewEventDate" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-push-3">
            <button class="btn btn-primary" data-bind="click: createEvent">Create Event</button>
        </div>
    </div>
</div>

<div class="container">
    <hr />
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-3 page-header">
            <h2>Events</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: CurrentEvents">
                    <tr>
                        <td data-bind="text: Name"></td>
                        <td data-bind="text: Date"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var homeVm = new HomeViewModel();
        var app = new App(homeVm);

        homeVm.getCurrentEvents();

    </script>
}